body{

    margin:0;

    background:#071327;

    color:white;

    font-family:Arial;
}

.topbar,
.dashboard-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 40px;
}

.topbar h1,
.dashboard-top h1{

    margin:0;

    font-size:38px;
}

.topbar a,
.dashboard-top a{

    background:#3478ff;

    padding:14px 22px;

    border-radius:12px;

    color:white;

    text-decoration:none;

    font-weight:bold;
}

.filtros{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    padding:10px 40px 30px;
}

.filtros input,
.filtros select{

    background:#10203a;

    border:none;

    color:white;

    padding:15px;

    border-radius:12px;

    min-width:220px;

    outline:none;
}

.filtros button{

    background:#3478ff;

    border:none;

    color:white;

    padding:15px 25px;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;
}

.grid-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(340px,1fr));

    gap:22px;

    padding:0 40px 40px;
}

.card{

    background:#10203a;

    border-radius:22px;

    padding:25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.35);
}

.card h2{

    margin-top:0;

    margin-bottom:25px;

    font-size:34px;
}

.card p{

    margin:12px 0;

    line-height:1.5;
}

.autocomplete-box{

    position:relative;
}

.autocomplete-list{

    position:absolute;

    top:58px;

    width:100%;

    background:#10203a;

    border-radius:12px;

    overflow:hidden;

    z-index:999;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.4);
}

.autocomplete-item{

    padding:14px;

    cursor:pointer;
}

.autocomplete-item:hover{

    background:#3478ff;
}

.kpi-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(240px,1fr));

    gap:20px;

    padding:30px 40px;
}

.kpi-card{

    background:#10203a;

    border-radius:20px;

    padding:25px;
}

.kpi-card span{

    color:#8ea6c9;
}

.kpi-card h2{

    margin-bottom:0;

    margin-top:15px;

    font-size:32px;
}

.charts-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(500px,1fr));

    gap:20px;

    padding:0 40px 40px;
}

.chart-card{

    background:#10203a;

    border-radius:20px;

    padding:25px;
}